NODE_ENV=development
PROJECT_NAME=base_repository
URL_API=http://api.localhost
URL_WEB=http://app.localhost
PREFIX=/api
PORT=3000
VERSION=/v1
WHITE_LIST=api.localhost,http://mail.localhost/

LOGGER_COLORIZE=true
LOGGER_SINGLE_LINE=false
LOGGER_TASK_DELETE_TRACE_LOG='*/30 * * * *'

SENTRY_DSN=https://cf403ff08f4c439981c03d9433e677f4@o4505325982121984.ingest.sentry.io/4505325995819008
SENTRY_ENABLE=false

LOCALE=en

JWT_SECRET=nodebaserepository
JWT_EXPIRES=8h
JWT_CONFIRMATION_EXPIRES=1d
JWT_REFRESH_EXPIRES=1d
JWT_ISS=nodebaserepository
JWT_AUD=nodebaserepository.com
JWT_ALGORITHM='HS512'
JWT_CHECK_BLACK_LIST=true

SET_COOKIE_SECURE=false
SET_COOKIE_SAME_SITE=none

DB_HOST=db
DB_USER=baserepository
DB_DATABASE=baserepository
DB_PASSWORD=baserepository
DB_PORT=5432
DB_SYNCHRONIZE=false
DB_TYPE=postgres
DB_LOGGING=false

PAGINATION_LIMIT=10

ENCRYPTION_DEFAULT=bcrypt

CACHE_HOST=redis
CACHE_PORT=6379
CACHE_PASSWORD=baserepository

SMTP_HOST=mail
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE_SSL=false
SMTP_SENDER_NAME=Notifications
SMTP_SENDER_EMAIL_DEFAULT=notification@localhost.com

MINIO_EXPOSE_HOST=s3.localhost
MINIO_EXPOSE_HTTPS=false
MINIO_HOST=s3
MINIO_ACCESS_KEY=baserepository
MINIO_SECRET_KEY=baserepository
MINIO_USE_SSL=false
MINIO_PORT=9000
MINIO_PUBLIC_BUCKET=baserepository
MINIO_PRIVATE_BUCKET=baserepository
MINIO_ROOT_PATH=data
MINIO_REGION=us-east-1
MINIO_SIGN_EXPIRE=9000

OTP_EXPIRATION_TIME=10m
OTP_LIMIT_ATTEMPTS=20
OTP_TASK_RESTARTING_ATTEMPTS='0 0 * * *'

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
