NODE_ENV=development
URL_API=http://api.localhost
URL_WEB=http://app.localhost
PREFIX=/api
PORT=3000
VERSION=/v1
WHITE_LIST=

LOGGER_COLORIZE=true
LOGGER_SINGLE_LINE=true

SENTRY_DSN=
SENTRY_ENABLE=false

LOCALE=en

JWT_SECRET=nodebaserepository
JWT_EXPIRES=8h
JWT_CONFIRMATION_EXPIRES=1d
JWT_REFRESH_EXPIRES=1d
JWT_ISS=nodebaserepository
JWT_AUD=nodebaserepository.com
JWT_ALGORITHM='HS512'
JWT_CHECK_BLACK_LIST=false

DB_HOST=db
DB_USER=basedprofessionals
DB_DATABASE=basedprofessionals
DB_PASSWORD=basedprofessionals
DB_PORT=5432
DB_SYNCHRONIZE=false
DB_TYPE=postgres

PAGINATION_LIMIT=10
